name: Auto Bump

on:
  schedule:
    # Run every hour.
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/autobump.yml'
  pull_request:
    paths:
      - '.github/workflows/autobump.yml'

jobs:
  bump:
    if: github.event.repository.fork == false
    runs-on: macos-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v6
      - uses: Homebrew/actions/setup-homebrew@master
      - name: Set up Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Enum packages
        id: enum-packages
        run: |
          echo "formulae=$(ls Formula/*.rb 2>/dev/null | xargs -n1 basename -s .rb | xargs)" >> $GITHUB_OUTPUT
          echo "casks=$(ls Casks/*.rb 2>/dev/null | xargs -n1 basename -s .rb | xargs)" >> $GITHUB_OUTPUT
      - uses: Homebrew/actions/bump-packages@master
        continue-on-error: true
        with:
          fork: false
          token: ${{ secrets.GITHUB_TOKEN }}
          formulae: ${{ steps.enum-packages.outputs.formulae }}
          casks: ${{ steps.enum-packages.outputs.casks }}
