name: Auto Bump

on:
  schedule:
    # Run every hour.
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/autobump.yml'
  pull_request:
    paths:
      - '.github/workflows/autobump.yml'

jobs:
  bump:
    if: github.event.repository.fork == false
    runs-on: macos-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v6
      - uses: Homebrew/actions/setup-homebrew@master
      - name: Set up Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Enum packages
        id: enum-packages
        run: |
          formulae=$(ls Formula/*.rb 2>/dev/null | xargs -n1 basename -s .rb | xargs)
          casks=$(ls Casks/*.rb 2>/dev/null | xargs -n1 basename -s .rb | xargs)
          echo "formulae: $formulae"
          echo "casks: $casks"
          echo "formulae=$formulae" >> $GITHUB_OUTPUT
          echo "casks=$casks" >> $GITHUB_OUTPUT
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: Homebrew/actions/bump-packages@master
        continue-on-error: true
        with:
          fork: false
          token: ${{ steps.app-token.outputs.token }}
          formulae: ${{ steps.enum-packages.outputs.formulae }}
          casks: ${{ steps.enum-packages.outputs.casks }}
