name: Auto Bump

on:
  schedule:
    # Run every hour.
    - cron: "0 * * * *"
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  bump-packages:
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Merge PRs
        if: github.event_name == 'pull_request' && github.event.pull_request.user.login == 'actionstokenprovider[bot]' # Run this after bump package PRs are created.
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh pr merge ${{ github.event.number }} --auto --rebase
      - name: Enum packages
        id: enum-packages
        run: |
          formulae=$(find Formula -name "*.rb" -exec basename {} .rb \; | xargs echo)
          casks=$(find Casks -name "*.rb" -exec basename {} .rb \; | xargs echo)
          echo "formulae: $formulae"
          echo "casks: $casks"
          echo "formulae=$formulae" >> $GITHUB_OUTPUT
          echo "casks=$casks" >> $GITHUB_OUTPUT
      - uses: Homebrew/actions/setup-homebrew@main
      - uses: Homebrew/actions/bump-packages@main
        with:
          fork: false
          token: ${{ steps.app-token.outputs.token }}
          formulae: ${{ steps.enum-packages.outputs.formulae }}
          casks: ${{ steps.enum-packages.outputs.casks }}
