name: Check Formulas

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/check-formulas.yml'
      - 'Formula/**'
  pull_request:
    paths:
      - '.github/workflows/check-formulas.yml'
      - 'Formula/**'

jobs:
  check:
    runs-on: macos-latest
    env:
      HOMEBREW_COLOR: 1
      HOMEBREW_DEVELOPER: 1
    steps:
      - uses: actions/checkout@v6
      - name: brew pull & reset & tap
        run: |
          brew update-reset "$(brew --repository)"
          mkdir -p $(brew --repo)/Library/Taps/goooler
          ln -s $GITHUB_WORKSPACE $(brew --repo)/Library/Taps/goooler/homebrew-repo
      - name: Check Formulas
        run: |
          for formula in $(ls Formula/*.rb | xargs -n 1 basename | cut -d. -f1); do
            echo "Auditing $formula"
            brew audit --strict $formula
            echo "Installing $formula"
            brew install $formula
            echo "Testing $formula"
            brew test $formula
            echo "Uninstalling $formula"
            brew uninstall $formula
          done
