name: Check Packages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - uses: Homebrew/actions/setup-homebrew@main
      - name: Generate CI matrix
        id: generate-matrix
        env:
          PULL_REQUEST_URL: ${{ github.event.pull_request.url }}
        run: |
          brew generate-cask-ci-matrix --url "$PULL_REQUEST_URL"

  verify-packages:
    needs:
      - generate-matrix
    name: ${{ matrix.name }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: Homebrew/actions/setup-homebrew@main
      - name: Check Package
        run: |
          PACKAGE_NAME="${{ matrix.cask }}"
          printf "\033[32m==>\033[0m \033[1;30mAuditing\033[0m \033[1;32m%s\033[0m\n" "$PACKAGE_NAME"
          brew audit --strict "$PACKAGE_NAME"
          brew install "$PACKAGE_NAME"
          brew uninstall "$PACKAGE_NAME"

  # Status check that is required in branch protection rules.
  final-status:
    needs:
      - generate-matrix
      - verify-packages
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check
        run: |
          results=$(tr -d '\n' <<< '${{ toJSON(needs.*.result) }}')
          if ! grep -q -v -E '(failure|cancelled)' <<< "$results"; then
            echo "One or more required jobs failed"
            exit 1
          fi
          echo "All required jobs completed successfully."
