name: Check Packages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  changed-packages:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@v6
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: '**/**.rb'
          matrix: true
      - name: List all changed files
        run: echo '${{ steps.changed-files.outputs.all_changed_files }}'

  verify-packages:
    needs:
      - changed-packages
    if: ${{ needs.changed-packages.outputs.matrix != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        packages: ${{ fromJSON(needs.changed-packages.outputs.matrix) }}
        os: # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
          - macos-latest # Based on arm64.
          - macos-15-intel # Based on x64.
    runs-on: ${{ matrix.os }}
    env:
      HOMEBREW_COLOR: 1
      HOMEBREW_DEVELOPER: 1
    steps:
      - uses: actions/checkout@v6
      - name: brew pull & reset & tap
        run: |
          brew update-reset "$(brew --repository)"
          mkdir -p $(brew --repo)/Library/Taps/goooler
          ln -s $GITHUB_WORKSPACE $(brew --repo)/Library/Taps/goooler/homebrew-repo
      - name: Check packages
        run: |
          echo "PACKAGE_NAME=$(basename "${{ matrix.packages }}" .rb)" >> $GITHUB_ENV
      - name: Install package
        run: brew install ${{ env.PACKAGE_NAME }}
      - name: Uninstall package
        run: brew uninstall ${{ env.PACKAGE_NAME }}

  # Status check that is required in branch protection rules.
  final-status:
    needs:
      - changed-packages
      - verify-packages
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Check
        run: |
          results=$(tr -d '\n' <<< '${{ toJSON(needs.*.result) }}')
          if ! grep -q -v -E '(failure|cancelled)' <<< "$results"; then
            echo "One or more required jobs failed"
            exit 1
          fi
          echo "All required jobs completed successfully."
